                <div class="row">
                  <aside class="col-md-12">
                    <h2></h2>
                    <p></p>
                  </aside>
                  <section class="main col-md-12">
                    <article>
                    <h2>Shutian Xu - "the introduction"</h2>
                    <p>Hellow,Folks</p>
                    <p>My name is Shutian Xu and I'm currently studying Computer Programming and Analysis at Seneca College. I am very interesting in all technologies related to HTML, JavaScript and CSS and I am currently in the process of mastering the MEAN stack. It's my goal to become a full-stack JavaScript developer and continue to learn and expand my experience to include all the new dev tools, environments, libraries, workflows and design methodologies available to the full-stack/MEAN developer community.</p>
                    <p>Enjoy browsing my app! - If you have any questions, I can be found at <a href="mailto:sxu610@myseneca.ca">here</a></p>
                    <p>Sincerely,<br /> Shutian Xu</p>
                    </article>
                  </section>
                </div>          